In [1]:
import pandas as pd
import warnings
from sklearn.exceptions import ConvergenceWarning
warnings.filterwarnings("ignore", category=ConvergenceWarning)
warnings.filterwarnings("ignore", category=UserWarning, module='sklearn.base')

In [2]:
df = pd.read_csv("Placement_Data.csv")

In [3]:
df.head()

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0

In [4]:
df.drop('salary', axis=1, inplace=True)

In [5]:
df.drop('sl_no', axis=1, inplace=True)

In [6]:
from sklearn.preprocessing import LabelEncoder

In [7]:
encoder = LabelEncoder()

In [8]:
df.dropna(inplace=True)

In [9]:
col = ['gender', 'ssc_b', 'hsc_b', 'hsc_s', 'degree_t', 'workex', 'specialisation', 'status']

In [10]:
def convert(dff, lt):
  for cl in lt:
    dff[cl] = encoder.fit_transform(dff[cl])
    print(f'{cl} done')
  print('Conversion completed')

In [11]:
convert(df, col)

gender done
ssc_b done
hsc_b done
hsc_s done
degree_t done
workex done
specialisation done
status done
Conversion completed

In [12]:
df.head(20)

,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status
0,1,67.00,1,91.00,1,1,58.00,2,0,55.00,1,58.80,1
1,1,79.33,0,78.33,1,2,77.48,2,1,86.50,0,66.28,1
2,1,65.00,0,68.00,0,0,64.00,0,0,75.00,0,57.80,1
3,1,56.00,0,52.00,0,2,52.00,2,0,66.00,1,59.43,0
4,1,85.80,0,73.60,0,1,73.30,0,0,96.80,0,55.50,1
5,1,55.00,1,49.80,1,2,67.25,2,1,55.00,0,51.58,0
6,0,46.00,1,49.20,1,1,79.00,0,0,74.28,0,53.29,0
7,1,82.00,0,64.00,0,2,66.00,2,1,67.00,0,62.14,1
8,1,73.00,0,79.00,0,1,72.00,0,0,91.34,0,61.29,1
9,1,58.00,0,70.00,0,1,61.00,0,0,54.00,0,52.21,0
10,1,58.00,0,61.00,0,1,60.00,0,1,62.00,1,60.85,1
11,1,69.60,0,68.40,0,1,78.30,0,1,60.00,0,63.70,1
12,0,47.00,0,55.00,1,2,65.00,0,0,62.00,1,65.04,0
13,0,77.00,0,87.00,0,1,59.00,0,0,68.00,0,68.63,1
14,1,62.00,0,47.00,0,1,50.00,0,0,76.00,1,54.96,0
15,0,65.00,0,75.00,0,1,69.00,0,1,72.00,0,64.66,1
16,1,63.00,0,66.20,0,1,65.60,0,1,60.00,0,62.54,1
17,0,55.00,0,67.00,0,1,64.00,0,0,60.00,0,67.28,0
18,0,63.00,0,66.00,0,1,64.00,0,0,68.00,1,64.08,0
19,1,60.00,1,67.00,1,0,70.00,0,1,50.48,0,77.89,1

In [13]:
features = df.drop('status', axis=1)
target = df.status

In [14]:
from sklearn.linear_model import LogisticRegression

In [15]:
model = LogisticRegression(max_iter=200)

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
xtrain, xtest, ytrain, ytest = train_test_split(features, target, test_size=0.2, random_state=42)

In [18]:
model.fit(xtrain, ytrain)

LogisticRegression(max_iter=200)

In [19]:
train_pred = model.predict(xtrain)

In [20]:
from sklearn.metrics import accuracy_score

In [21]:
accuracy_score(train_pred, ytrain)

0.9011627906976745

In [22]:
test_pred = model.predict(xtest)

In [23]:
accuracy_score(test_pred, ytest)

0.8837209302325582

In [24]:
accuracy_score(test_pred, ytest)

0.8837209302325582

In [25]:
df_new = {
    'Test predictions': test_pred,
    'Actual values': ytest
}

In [26]:
pd.DataFrame(df_new).head(15)

     Test predictions  Actual values
200                 1              1
212                 1              1
138                 1              1
176                 0              1
15                  1              1
111                 0              0
168                 0              0
73                  1              1
204                 1              1
139                 1              1
158                 1              0
30                  1              1
186                 0              0
9                   1              0
67                  1              1

In [27]:
import numpy as np

In [28]:
model.fit(features, target)

LogisticRegression(max_iter=200)

In [29]:
pred = model.predict(features)

In [30]:
accuracy_score(pred, target)

0.8930232558139535

In [31]:
def pred(input):
  prediction = model.predict(input)
  tar = ''
  if prediction == 1:
    tar = 'Placed'
  else:
    tar = 'Not Placed'
  print(f"For the given input the candidate is {tar}")

In [38]:
input = np.array([[0,	30.00,	0,	20.00,	0,	1,	10.00,	0,	0,	10.00,	1,	10.08]])

In [39]:
pred(input)

For the given input the candidate is Not Placed

In [36]:
import pickle

In [37]:
pickle.dump(model, open('model.pkl', 'wb'))